@font-face {
    src: url(Roboto/Roboto-Regular.ttf);
    font-family: "Roboto";
}

* {
    font-family: "Roboto";
}

/* Header */

.navbar {
    padding: 0;
  }
  
  .list-unstyled {
    margin-bottom: 0;
  }
  
  #nav {
    font-size: smaller;
    font-weight: 500;
    color: rgb(51, 51, 51);
  }
  
  .header-gauche {
    padding: 0;
    width: 50%;
  }
  
  .header-droite {
    padding: 0;
    width: 50%;
  }
  
  section {
    display: flex;
    align-items: center;
  }
  
  
  .form-control {
    border: none;
  }
  
  #header {
    margin: 0;
  }
  
  @media screen and (min-width:992px) {
    .header-gauche {
        justify-content: space-around;
    }
    .header-droite {
      justify-content: space-around;
  
    }
  }
  
  @media screen and (max-width:991px) {
    .header-gauche {}
  
    .header-droite {
      justify-content: right;
    }
  }

  /* Banner */

  .banner-contact {
      margin-top: 80px;
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(../supro/contact/resources/contact-bg.jpg) no-repeat;
      background-size: cover;
      background-position: center;

  }

  .title-contact {
      width: 300px;
      height: 150px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .p-grey {
    text-decoration: none;
    font-size: 14px;
    color: #999;
  }

  .link-home:hover {
    color: #999;
  }

  .p-black {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
  }

  .link-contact:hover {
    color: #000;
  }

  .dot-subtitle {
      padding-left: 3px;
      padding-right: 3px;
      font-weight: bold;
  }

  /* Contact form */

  .contact-form {
      height: auto;
      margin-top: 50px;
  }

  .first-section {
      width: 70%;
      height: auto;
      margin: auto;
      padding-bottom: 100px;
      display: flex;
      border-bottom: 1px solid rgba(173, 173, 173, 0.377);
  }

  .content-form {
      width: 65%;
      height: auto;
      display: flex;
      flex-direction: column;
  }


  .form-top {
      display: flex;
      justify-content: space-between;
  }

  .form-label {
      display: flex;
      flex-direction: column;
  }

  .form-label-top {
      width: 48%;
  }

  #name,
  #email {
      width: 100%;
      border: 1px solid rgba(173, 173, 173, 0.377);
  }

  #message {
      width: 100%;
      height: 150px;
      resize: none;
      border: 1px solid rgba(173, 173, 173, 0.377);
 }

 .orange-star {
     color: #f68773;
     font-weight: bold;
 }

  .form-bottom {
      margin-top: 30px;
      height: 250px;
  }

  #submit {
      margin-top: 30px;
      background-color: black;
      color: white;
      font-size: small;
      font-weight: bold;
      border: none;
      width: 150px;
      height: 40px;
      border: black 1px solid;
  }

  #submit:hover {
      background-color: white;
      color: #000;
      border: black 1px solid;
      box-shadow: 0 0 5px #999;      
  }

  .link-phone {
      color: #999;
  }

  .link-email {
    color: #999;
  }

  .link-phone:hover {
    color: #999;
}

.link-email:hover {
  color: #999;
}

.h3-black {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.coord-right {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    justify-content: space-between;
}

.social-network {
    display: flex;
    padding: 0;
    width: 85%;
    justify-content: space-between;
}

.li-social {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(173, 173, 173, 0.377);
    border-radius: 50%;
}

.fab {
    font-size: 12px;
    color: #636363;
}

@media screen and (max-width: 768px) {
  .first-section {
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .content-form {
    width: 100%;
  }

  .coord-right {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
  }

  .address-place p {
    display: inline-block;
    width: max-content;
  }

  .social-network {
    width: 55%;
    margin-bottom: 30px;
  }

  .h3-black {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 578px) {
  .coord-right {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .first-section {
    padding-bottom: 15px;
  }

  .social-network {
    width: 70%;
  }

  .li-social {
    width: 35px;
    height: 35px;
  }

  .address-place .p-grey {
    font-size: 16px;
  }

  .address-coord .p-grey {
    font-size: 16px;
  }

  .form-top {
    flex-direction: column;
  }

  #name,
  #email,
  .form-label-top {
    width: 100%;
  }
}


/* Address section */

.address {
  height: 400px;
  border-bottom: #000;
}

.address-section {
  width: 70%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coord,
.store,
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coord {
  justify-content: space-between;
}

.store {
  width: 48%;
  justify-content: space-between;
}

.contact {
  width: 48%;
  justify-content: space-around
}

.email {
  width: 185px;
}

@media screen and (max-width: 768px) {
  .address-section {
    width: 100%;
  }

  .store h3 {
    width: 100%;
  }

  .store {
    flex-direction: column;
  }
}