.container-prod {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.row-pp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-pp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 8%;
}

.row-pp3 {
  padding-left: 40px;
}

.col-1, .col-2-f, .col-3-pp, .col-3-f, .col-4-pi, .col-5, .col-6-pp, .col-7, .col-8-pi, .col-9, .col-10, .col-11, .col-12-pp {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-3-pp {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0;
  margin: 0;
}

.col-3-f {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0;
  margin: 0;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6-pp {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: left;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12-pp {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.img1, .img2, .img3, .img4 {
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover {
  opacity: 1;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: grey;
}

.rating {
  margin-bottom: 1%;
}

.title-pp {
  color: #222222;
  margin-bottom: 3%;
  font-weight: bolder;
  font-size: x-large;
}

.ref-pp {
  color: #b1afaf;
  margin-bottom: 5%;
  font-size: small;
}

.price-pp {
  color: #222222;
  margin-bottom: 5%;
}

.text-pp {
  color: grey;
  font-size: 80%;
  line-height: 1.5;
}

.btns-pp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2%;
}

.btns-pp input, .btns-pp textarea {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

.btns-pp input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btns-pp input::-webkit-outer-spin-button,
.btns-pp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns-pp .input-group {
  clear: both;
  margin: 5% 0;
  position: relative;
}

.btns-pp .input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 10%;
  width: auto;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btns-pp .input-group .button-minus,
.btns-pp .input-group .button-plus {
  font-weight: bold;
  height: 100%;
  padding: 0 5% 0 5%;
  width: 100%;
  position: relative;
}

.btns-pp .input-group .quantity-field {
  position: relative;
  height: 100%;
  left: -1%;
  text-align: center;
  width: 45%;
  display: inline-block;
  font-size: smaller;
  margin: 0;
  resize: vertical;
  padding: 0;
}

.btns-pp .button-plus {
  left: -5%;
}

.btns-pp .button-minus {
  right: -3%;
}

.btns-pp input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.btns-pp .a-atc {
  background-color: #222222;
  color: white;
  padding: 3% 2% 3% 2%;
  margin: 5% 0 5% 0;
  height: 50%;
  width: 100%;
  text-align: center;
}

.btns-pp .fav {
  width: 5%;
  height: 5%;
  padding: 3% 3% 2.5% 3%;
  margin: 5% 0 5% 3%;
  border: 1px solid grey;
  cursor: pointer;
}

.bn-pp {
  text-align: center;
  background-color: #222222;
  color: white;
  padding: 3% 38% 3% 38%;
}

.hr-1 {
  margin: 10% 0 5% 0;
}

.category-pp {
  margin-bottom: 2%;
  font-size: smaller;
}

.category-pp b {
  color: #222222;
}

.tags-pp {
  font-size: smaller;
}

.icon-pp1 {
  margin-top: 2%;
  margin-right: 2%;
  padding: 0;
  width: 4%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  cursor: pointer;
}

.icon-pp2 {
  margin-top: 2%;
  margin-right: 2%;
  padding: 0;
  width: 7%;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  cursor: pointer;
}

.prod-info .row-pi1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 3%;
}

.prod-info .row-pi1 .col-4-pi1 {
  font-size: large;
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
}

.prod-info .row-pi1 .col-4-pi2 {
  font-size: large;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
}

.prod-info .row-pi1 .col-4-pi3 {
  font-size: large;
  text-align: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
}

.prod-info .row-pi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 10%;
}

.prod-info .row-pi2 .col-8-pi {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  padding: 0;
  text-align: left;
  font-size: 95%;
}

.prod-info .row-pi2 .col-8-pi .h3-pi1 {
  color: #222222;
  margin-bottom: 5%;
  font-size: large;
}

.prod-info .row-pi2 .col-8-pi .p-pi1 {
  color: grey;
  margin-bottom: 5%;
  padding-right: 5%;
}

.prod-info .row-pi2 .col-8-pi .h3-pi2 {
  color: #222222;
  margin-bottom: 5%;
  font-size: large;
}

.prod-info .row-pi2 .col-8-pi .ul-pi1 {
  color: grey;
  list-style-type: disc;
  margin-left: 4%;
}

.prod-info .row-pi2 .col-8-pi .ul-pi1 .li-pi {
  margin: 3% 0 3% 0;
}

.prod-info .row-pi2 .col-4-pi2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin: 0;
  padding: 0;
}

.footer-prod {
  margin-top: 20%;
}

.footer-prod .row-f1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  text-align: left;
}

.footer-prod .row-f1 .col-3-f1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.footer-prod .row-f1 .col-3-f1 .h6-f1 {
  font-size: small;
  margin-bottom: 7%;
  color: #222222;
}

.footer-prod .row-f1 .col-3-f1 .ul-f1 .li-f1 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: smaller;
}

.footer-prod .row-f1 .col-3-f1 .ul-f1 .li-f1 a {
  -webkit-transition: 1s;
  transition: 1s;
}

.footer-prod .row-f1 .col-3-f1 .ul-f1 .li-f1 a:hover {
  background-color: #222222;
  color: white;
  padding: 3%;
  border-radius: 15px;
}

.footer-prod .row-f1 .col-2-f2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.footer-prod .row-f1 .col-2-f2 .h6-f2 {
  font-size: small;
  margin-bottom: 10%;
  color: #222222;
}

.footer-prod .row-f1 .col-2-f2 .ul-f2 .li-f2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: smaller;
}

.footer-prod .row-f1 .col-2-f2 .ul-f2 .li-f2 a {
  -webkit-transition: 1s;
  transition: 1s;
}

.footer-prod .row-f1 .col-2-f2 .ul-f2 .li-f2 a:hover {
  background-color: #222222;
  color: white;
  padding: 3%;
  border-radius: 15px;
}

.footer-prod .row-f1 .col-2-f3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.footer-prod .row-f1 .col-2-f3 .h6-f3 {
  font-size: small;
  margin-bottom: 10%;
  color: #222222;
}

.footer-prod .row-f1 .col-2-f3 .ul-f3 .li-f3 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: smaller;
}

.footer-prod .row-f1 .col-2-f3 .ul-f3 .li-f3 a {
  -webkit-transition: 1s;
  transition: 1s;
}

.footer-prod .row-f1 .col-2-f3 .ul-f3 .li-f3 a:hover {
  background-color: #222222;
  color: white;
  padding: 3%;
  border-radius: 15px;
}

.footer-prod .row-f1 .col-2-f4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.footer-prod .row-f1 .col-2-f4 .h6-f4 {
  font-size: small;
  margin-bottom: 10%;
  color: #222222;
}

.footer-prod .row-f1 .col-2-f4 .selectpicker-f1 {
  color: grey;
  border: none;
  background-color: white;
}

.footer-prod .row-f1 .col-2-f5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.footer-prod .row-f1 .col-2-f5 .h6-f5 {
  font-size: small;
  margin-bottom: 10%;
  color: #222222;
}

.footer-prod .row-f1 .col-2-f5 .selectpicker-f2 {
  color: grey;
  border: none;
  background-color: white;
}

.footer-prod .row-f2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: smaller;
  -webkit-column-gap: 1%;
          column-gap: 1%;
}

.footer-prod .row-f2 .col-6-f1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  color: grey;
}

.footer-prod .row-f2 .col-6-f1 .logo {
  width: 11%;
}

.footer-prod .row-f2 .col-2-f1 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
  text-align: right;
  margin-left: 14%;
}

.footer-prod .row-f2 .col-2-f2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
  text-align: left;
}

@media (min-width: 576px) {
  .container-prod {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-prod {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2-f {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3-pp, .col-3-f {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4-pi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-6-pp {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-8-pi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-12-pp {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2-f {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-3-pp, .col-3-f {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4-pi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-6-pp {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-8-pi {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-12-pp {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=product.css.map */