body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  padding-top: 100px;
}

/* Left sidebar */

#sidebar .title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 30px;
}

#sidebar ul {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#sidebar li {
    color: #999;
    font-size: small;
    line-height: 27px;
}

#sidebar hr {
    height: 2px;
    width: 150px;
    background-color: #f68773;
    position: relative;
}

#sidebar .size {
  font-size: small;
}

.bullet {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.bullet img {
  height: 16px;
  width: 16px;
}

.bullet p {
  padding-left: 10px;
}

input {
  position: absolute;
  right: 0;
}


/* Top bar */

.topbar {
  height: 110px;
  padding-bottom: 20px;
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
    font-weight: bold;
}

.rating {
    direction: rtl;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }


 @media screen and (max-width:992px) {
     #xam {
         display: flex;
         flex-direction: column-reverse;
     }
 }


 /* Tableau photo */

 #tableau {
   padding-bottom: 40px;
   display: flex; 
   flex-wrap: nowrap; 
   justify-content: space-between
 }

 #tableau1 {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex; 
  flex-wrap: nowrap; 
  justify-content: space-between
}

 .photo {
 }

 .article {
   padding-top: 15px;
   font-size: small;
   font-weight: 500;
   color: #575956;
 }

 .price {
  color: #999;
  font-size: small;
 }

 .discover {
   display: flex;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 50px;
 }

 .discover a:link {
   color: black;
   font-size: small;
   font-weight: bold;
 }

 .discover a:hover {
   text-decoration: none;
 }
