body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
header {
  background: url(../supro/homepage/resources/sl3-1.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-position: 10%;
}

.text-header {
  // padding-top: 200px;
}

.img-main1 {
  width: 100%;
  height: 300px;
  background-image: url(../supro/homepage/resources/banner_h1_1.jpg);
  background-size: cover;
}
.img-main2 {
  width: 100%;
  height: 300px;
  background-image: url(../supro/homepage/resources/banner_h1_2.jpg);
  background-size: cover;
}
.img-main3 {
  width: 100%;
  height: 300px;
  background-image: url(../supro/homepage/resources/banner_h1_3.jpg);
  background-size: cover;
}
.bsl1 {
  background-image: url(../supro/homepage/resources/bsl1.jpg);
  // border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 40%;
  position: relative;
  background-position: top 20% left 30%;
  .bag-text {
    position: absolute;
    bottom: 8%;
    left: 20%;
  }
}

.bsl2 {
  height: 60vh;
  background-image: url(../supro/homepage/resources/bsl2.jpg);
  // border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 60%;
  position: relative;
  background-position: top left;
  .flower-text {
    position: absolute;
    top: 10%;
    left: -11%;
  }
}
.bsl3 {
  height: 60vh;
  background-image: url(../supro/homepage/resources/bsl3.jpg);
  // border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 60%;
  position: relative;
  background-position: top 70% left -10%;
  .flower-text {
    position: absolute;
    top: 10%;
    left: -11%;
  }
}
.bsl4 {
  height: 60vh;
  background-image: url(../supro/homepage/resources/bsl4.jpg);
  // border: 1px solid #000;
  background-repeat: no-repeat;
  background-size: 40%;
  position: relative;
  background-position: top 60% left 30%;
  .flower-text {
    position: absolute;
    bottom: -11%;
    left: 21%;
  }
}

//6 photos new arrival

.photo-sac {
  background-image: url(../supro/homepage/resources/prd_05_1_2.jpg);
  width: 370px;
  height: 370px;
  // background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
.star-rating {
  color: #ee8673;
}

// photos 3sacs
section .hobo {
}

.hobo .deals_image {
  height: 800px;
  background-image: url(../supro/homepage/resources/deals_image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .flower-text {
    position: absolute;
    bottom: 50%;
    left: 21%;
  }
}
