body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: grey;
  &:hover {
    text-decoration: none;
    color: #f68773;
  }
}



section {
  margin-bottom: 10%;
}

.container {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.row-pp {
  margin-bottom: 5%;
}
#bn {
  margin-top: 5%;
}

.col-left {
  text-align: left;
}
.col-right {
  text-align: right;
}
.col-center {
  text-align: center;
}

.main-product {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* header */
.container-h {
  margin-bottom: 5%;
}
.navbar {
  padding: 0;
}

.list-unstyled {
  margin-bottom: 0;
}

#nav {
  font-size: smaller;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.header-gauche {
  padding: 0;
  width: 50%;
}

.header-droite {
  display: flex;
  align-items: center;
  padding: 0;
  width: 50%;
}
.icon-nav {
  justify-content: space-between;
  margin-bottom: 0;
}
.icon-nav {
  display: flex;
  align-items: center;
}


.form-control {
  border: none;
}

#header {
  margin: 0;
}

.px-2 {
  width: 12%;
}

@media screen and (min-width:992px) {
  .header-gauche {
      justify-content: space-around;
  }
  .header-droite {
    justify-content: space-around;

  }
}

@media screen and (max-width:991px) {
  .header-droite {
    justify-content: flex-end;
  }
}

.hr-nav {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* product-presentation */
.a-pp2:before {
  content: "•";
  padding: 0 2% 0 2%;
}
.a-pp3:before {
  content: "•";
  padding: 0 2% 0 2%;
}

.previous, .next {
  padding: 1% 2% 1% 2%;
  background-color: #ffffff;
  color: grey;
  &:hover{
    color: #f68773;
    background-color: grey;
  }
}
.round {
  border-radius: 50%;
  border: 1px solid grey;
}

.img1, .img2, .img3, .img4 {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.rating a:hover,
.rating a:focus {
  color: orange;
  cursor: pointer;
}

.review-pp {
  font-size: smaller;
}
.title-pp {
  color: #222222;
  margin-top: 2%;
  margin-bottom: 3%;
  font-weight: bolder;
  font-size: x-large;
}
.ref-pp {
  color: rgb(177, 175, 175);
  margin-bottom: 5%;
  font-size: small;
}
.price-pp {
  color: #222222;
  margin-bottom: 5%;
}
.text-pp {
  color: grey;
  font-size: small;
  margin-bottom: 5%;
}

.quantity {
  display: inline-block;
}
 
.quantity .input-text.qty {
  width: 60%;
  padding: 8% 5% 8% 5%;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
}
 
.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; 
}
 
.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
 
.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 10%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;
}
 
.quantity.buttons_added .minus {
  border-right: 0;
}
 
.quantity.buttons_added .plus {
  border-left: 0;
}
 
.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  background: #eeeeee;
}
 
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; 
}
  
.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none; 
}
.row-atc {
  margin-bottom: 5%;
}
.col-atc {
  margin-left: 3%;
  .a-atc {
    text-decoration: none;
    color:white;
    background-color: #222222;
    padding: 4% 25% 4% 25%;
    &:hover {
      color: #f68773;
    }
  }
}

#fav {
  padding: 0;
  margin-left: 1.5%;
  .fav {
    width: 50%;
    padding: 9% 10%;
    border: 1px solid grey;
  }
}

.bn-pp {
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: white;
  margin-left: -3.5%;
  padding: 3% 40% 3% 40%;
}
.hr-pp {
  margin: 8% 0 5% 0;
}
.category-pp {
  margin-bottom: 2%;
  font-size: small;
  .category {
    color: #222222;
    font-weight: bolder;
  }
}
.tags-pp {
  margin-bottom: 2%;
  font-size: small;
  .category {
    color: #222222;
    font-weight: bolder;
  }
}

.icon-pp1 {
  width: 3%;
  filter: brightness(0);
  cursor: pointer;
}
.icon-pp2 {
  width: 5%;
  filter: brightness(0);
  cursor: pointer;
}
.icon-pp3 {
  width: 5%;
  filter:grayscale(100) contrast(2);
  cursor: pointer;
}

/* product-info */
#a {
  color: #222222;
  font-weight: bolder;
}
.a-pi {
  font-weight: bolder;
}
.sup-pp {
  font-size: small;
  display: inline;
  vertical-align: top;
}
.row-info {
  margin-top: 5%;
}
.h3-pi {
  color:#222222;
  margin-bottom: 10%;
  font-size: large;
}
.p-pi {
  color: grey;
  margin-bottom: 10%;
}
.ul-pi {
  .li-pi {
    color: grey;
    margin-bottom: 5%;
    list-style-type: disc;
    margin-left: 3.5%;
  }
}

#pyjama {
  margin-left: 6%;
  padding: 0;
}

/* product-related */

.col-pr {
  text-align: center;
  margin-bottom: 5%;
  .h3-pr {
    font-weight: bolder;
    color: #222222;
    font-size: x-large;
  }
}
.p-pr , .price-pr {
  color: grey;
  margin-top: 5%;
  margin-bottom: 5%;
}
.fa-star {
  filter:contrast(0);
}
.checked {
  filter: contrast(1) ;
  color: #f68773;
}

/* footer */
.footer {
  margin-bottom: 2%;
}
.row-f {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 2%;
}
.col-f {
  padding: 0;
}
.h6-f1 {
  margin-bottom: 10%;
}
.h6-f2, .h6-f3, .h6-f4, .h6-f5 {
  margin-bottom: 15%;
}
.li-f1 {
  margin-bottom: 10%;
  a {
    transition: 1s;
    &:hover {
      background-color: #222222;
      color: #f68773;
      padding: 3%;
      border-radius: 15px;
    }
  }
}
.li-f2, .li-f3 {
  margin-bottom: 15%;
  a {
    transition: 1s;
    &:hover {
      background-color: #222222;
      color: #f68773;
      padding: 3%;
      border-radius: 15px;
    }
  }
}
.selectpicker-f1, .selectpicker-f2 {
  border: none;
  background-color: white;
  color: grey;
}
.hr-f {
  margin-bottom: 5%;
}
.p-logo {
  color: grey;
  font-size: small;
  .logo {
    width: 7%;
  }
}
.a-f-sm {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .col-md {
    display: none;
  }
  .pp-img1 {
    padding-right: 30%;
    margin-bottom: 5%;
  }
  .row-atc {
    margin-bottom: 5%;
  }
  .col-atc {
    margin-left: 0;
  }
  #fav {
    margin-left: -5%;
    .fav {
      width: 45%;
    }
  }
  
  .bn-pp {
    padding-left: 40%;
    padding-right: 40%;
  }
  .icon-pp1 {
    width: 2%;
  }
  .icon-pp2, .icon-pp3 {
    width: 3%;
  }
  #pyjama {
    padding-right: 30%;
    margin-left: 3%;
  }
}


@media screen and (max-width:578px) {
  .container {
    margin: 0;
  }
  .col-sm {
    display: none;
  }
  .row-pr {
    justify-content: center;
  }
  .row-f {
    width: 100%;
  }
  .pp-img1 {
    padding-right: 0;
  }
  
  .col-img {
    width: 33.3%;
  }
  
  .quantity .input-text.qty {
    padding: 7% 2% 7% 2%;
  }
  .quantity.buttons_added .minus,
  .quantity.buttons_added .plus {
    padding: 7.8%;
  }
  .col-atc {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    .a-atc {
      padding: 5% 20%;
    }
  }
  #fav {
    margin-top: 5%;
  }
  .bn-pp {
    margin-left: -6%;
    padding: 5% 38% 5% 38%;
  }
  .row-sm-pi {
    flex-direction: column;
    .col-left, .col-right {
      text-align: center;
    }
    .col-right {
      margin-bottom: 3%;
    }
    .col-left {
      margin-top: 3%;
    }
  }
  #pyjama {
    padding-right: 0;
  }

  .col-f {
    margin-right: 25%;
  }
}